<div class="container skymap">
  <div class="inner">
    <p>This is where the dynamic image of the universe goes. Currently a placeholder. </p>
  </div>
</div>

<div class="container" style="background: green;">
  <div class="inner">
    <p>Timeline Calendar will go here.</p>
  </div>
</div>
