body {background: #FFF; color: #212121; font-family: helvetica, sans-serif;}

.container {width: 100%;
  .inner {
    width: 980px;
    margin: 0 auto;
    background: yellowgreen;
  }
}

header {
  text-align: center;
  color: #1300aa;
  padding: 2em 0;
  border-bottom: 1px solid #1300aa;
}

h1 {font-size: 4em;}


.skymap {
  background: url('visible_sky.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}