html,
body {
	height: 100%;
//  overflow: hidden;
	background: #FFF;
  color: #212121;
  font-family: 'PT Sans', helvetica, sans-serif;
}


.container {width: 100%;
  .inner {
    width: 980px;
    margin: 0 auto;
  }
}

header {
  text-align: center;
  color: #1300aa;
  padding: 2em 0;
  border-bottom: 1px solid #1300aa;
}

h1 {font-size: 4em; font-family: 'Righteous', cursive;}

.skymap {
  background: image-url('visible_sky.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    p {line-height: 1.6em; color: #FFF;}
}

/* d3 styles */
.fermi {
  fill: #a10974;
  color: #a10974;
}

.agile {
  fill: #7dcd0d;
  color: #7dcd0d;
}

.chandra {
  fill: #26a100;
  color: #26a100;
}

.integral {
  fill: #dadd00;
  color: #dadd00;
}

.nustar {
  fill: #28ced4;
  color: #28ced4;
}

.rxte {
  fill: #ffb629;
  color: #ffb629;
}

.suzaku {
  fill: #df5400;
  color: #df5400;
}

.swift {
  fill: #ff3838;
  color: #ff3838;
}

.herschel {
  fill: #2c41de;
  color: #2c41de;
}

.spitzer {
  fill: #c700b7;
  color: #c700b7;
}

.xmm-newton {
  fill: #007ab9;
  color: #007ab9;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.target{
	stroke: #000000;
	cursor: hand;
	cursor: pointer;
}

.XMM-Newton{
	fill: #c5f0ff;
}


