html, 
body {
	height: 100%;
//  overflow: hidden;
	background: #FFF; 
  color: #212121; 
  font-family: 'PT Sans', helvetica, sans-serif;
}


.container {width: 100%;
  .inner {
    width: 980px;
    margin: 0 auto;
  }
}

header {
  text-align: center;
  color: #1300aa;
  padding: 2em 0;
  border-bottom: 1px solid #1300aa;
}

h1 {font-size: 4em; font-family: 'Righteous', cursive;}

.skymap {
  background: image-url('visible_sky.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    p {line-height: 1.6em; color: #FFF;}
}

/* d3 styles */
.Fermi_marker{fill: #a10974;}
.AGILE_marker{fill: #7dcd0d;}
.Chandra_marker{fill: #26a100;}
.INTEGRAL_marker{fill: #dadd00;}
.NuSTAR_marker{fill: #28ced4;}
.RXTE_marker{fill: #ffb629;}
.Suzaku_marker{fill: #df5400;}
.Swift_marker{fill: #ff3838;}
.Herschel_marker{fill: #2c41de;}
.Spitzer_marker{fill: #c700b7;}
.XMM-Newton_marker{fill: #007ab9;}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.target{
	stroke: #000000;
	cursor: hand;
	cursor: pointer;
}

.XMM-Newton_marker{
	fill: #c5f0ff;
}


