<!DOCTYPE html>
<html>
<head>
  <title>A Better Space Cal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Righteous' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class="avgrund-contents">
    <header class="container">
      <h1>SpaceCalNYC</h1>
    </header>
    <%= yield %>
  </div>

  <div class="cover"></div>

  <!-- This is the modal -->
  <aside id="default-popup" class="avgrund-popup">
    <h2 id="obsTarget"></h2>
    <img src="" id="obsImage">
    <div>
      <strong>Source</strong> <span id="obsSource"></span>
    </div>
    <div>
      <strong>Start</strong> <span id="obsStartDate"></span>
    </div>
    <div>
      <strong>End</strong> <span id="obsEndDate"></span>
    </div>
    <button class="closeButton">Close</button>
  </aside>
</body>
</html>
